mlflow==2.7.1
azureml-mlflow==1.48.0
mltable==1.6.3
numpy==1.26.4
pandas==1.5.3
scikit-learn==1.4.2
scipy==1.11.4
azureml-inference-server-http==1.5.1
azure-mgmt-monitor==7.0.0
azure-ai-ml==1.17.0
azure-identity==1.15.0